    body {
        background-color: white;
        font-family: 'Assistant', sans-serif;
        color: #071c4d;
    }
    
    // navbar
    .navbar-brand {
        img {
            max-height: 40px;
        }
    }
    
    a .navbar-light {
        .navbar-nav {
            .nav-link {
                color: #071c4d;
                &.active {
                    font-weight: bold;
                    color: #071c4d !important;
                }
            }
        }
    }
    
    .btn-navbar-right {
        margin-top: -10px !important;
        margin-bottom: -8px !important;
        margin-right: -18px !important;
        height: 70px;
        border-radius: 0;
    }
    
    .btn-login {
        background-color: #071c4d;
        color: white;
        &:hover {
            background-color: #1b3980;
            color: white;
        }
    }
    
    // header
    header {
        padding: 180px 0 165px;
        background-image: url('../image/top.jpg');
        background-size: cover;
        margin-top: -170px;
        h1,
        p {
            color: #fff;
            font-size: 50px;
        }
        h1 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
        }
        p {
            font-size: 22px;
        }
        .btn-get-started {
            background-color: #ff9e53;
            color: #fff;
            &:hover {
                background-color: #e7b38b;
            }
        }
    }
    
    // stats
    .section-stats {
        margin-top: -50px;
        .stats-detail {
            padding-top: 15px;
            background-color: #fff;
            padding-left: 40px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 0;
        }
        p {
            font-size: 20px;
            font-weight: lighter;
        }
    }
    
    //section
    .section-popular {
        min-height: 500px;
        background-color: #071c4d;
        margin-top: -50px;
        margin-bottom: -230px;
        .section-popular-heading {
            margin-top: 150px;
            h2,
            p {
                color: #fff;
            }
            h2 {
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                font-size: 40px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    
    .section-popular-content {
        .section-popular-travel {
            .card-travel {
                min-height: 380px;
                background-color: #ddd;
                color: #fff;
                padding: 30px;
                background-size: cover;
                margin-bottom: 20px;
            }
            .travel-country {
                font-size: 18px;
                color: #fff;
            }
            .travel-location {
                font-size: 18px;
                color: #fff;
            }
            .travel-button {
                .btn-travel-details {
                    background-color: #ff9e53;
                    color: #fff;
                    &:hover {
                        background-color: #e7b38b;
                        color: #fff;
                    }
                }
            }
        }
    }
    
    .section-networks {
        background-color: #fff;
        margin-top: -170px;
        padding-top: 240px;
        padding-bottom: 50px;
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        img {
            max-width: 100%;
        }
        p {
            font-size: 18px;
        }
    }
    
    .section-testimonial-heading {
        background: rgb(250, 250, 250);
        background: linear-gradient(177deg, rgba(250, 250, 250, 1) 0%, rgba(37, 0, 255, 0.16600143475358897) 100%);
        padding-top: 50px;
        min-height: 586px;
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
            text-align: center;
        }
        p {
            font-size: 18px;
        }
    }
    
    .section-testimonial-content {
        margin-top: -300px;
        padding-bottom: 50px;
        .card-testimonial {
            padding: 40px 20px 10px;
            border-radius: 11px;
            margin-bottom: 20px;
            .testimonial-content {
                min-height: 380px;
            }
            h3 {
                font-size: 22px;
            }
            .testimonial {
                font-weight: 200;
                font-size: 26px;
                color: #6e6e6e;
                min-height: 200px;
            }
            .trip-tp {
                font-weight: normal;
                font-size: 16px;
                color: #6e6e6e;
            }
            hr {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        .btn-get-started {
            background-color: #ff9e53;
            color: #fff;
            &:hover {
                background-color: #e7b38b;
            }
        }
        .btn-need-help {
            background-color: #c0c0c0;
            color: #fff;
            &:hover {
                background-color: #cfcfcf;
            }
        }
    }
    
    .section-footer {
        a {
            color: #071c4d;
        }
    }
    
    .section-details-header {
        min-height: 310px;
        background-color: #e4e6eb;
        margin-top: -70px;
    }
    
    .section-details-content {
        margin-top: -210px;
        min-height: 100vh;
        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin-bottom: 30px;
        }
        .breadcrumb-item {
            &.active {
                font-weight: bold;
                color: #071c4d;
            }
        }
        .card-details {
            padding: 30px;
            border-radius: 11px;
            h1 {
                font-size: 26px;
            }
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 18px;
                color: #b1b1b1;
            }
            .trip-information {
                th {
                    font-weight: 500;
                    font-size: 18px;
                    color: #071c4d;
                }
                td {
                    font-weight: 300;
                    font-size: 18px;
                    color: #b1b1b1;
                }
                .text-blue {
                    color: #071c4d;
                    font-weight: bold;
                }
                .text-orange {
                    color: #ff9e53;
                    font-weight: bold;
                }
            }
            .payment-instruction {
                font-weight: 300;
                font-size: 14px;
                color: #b1b1b1;
            }
            .bank {
                .bank-item {
                    h3 {
                        margin-bottom: 0;
                        font-size: 18px;
                        color: #071c4d;
                        font-weight: 300;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    .description {
                        margin-left: 10px;
                        overflow: hidden;
                        float: left;
                        p {
                            font-weight: normmal;
                            font-size: 16px;
                            color: #071c4d;
                        }
                    }
                }
                .bank-image {
                    width: 45px;
                    height: 45px;
                    float: left;
                }
            }
            .disclaimer {
                font-weight: 300;
                font-size: 14px;
                color: #b1b1b1;
            }
            h3 {
                font-weight: 600;
                font-size: 14px;
                color: #071c4d;
            }
            .gj-datepicker {
                .datepicker {
                    border-right: 0;
                }
                .input-gruop-append {
                    .btn {
                        padding-right: 30px;
                    }
                }
            }
        }
        .btn-outline-secondary {
            height: 38px;
        }
        .btn-add-now {
            background-color: #071c4d;
            color: #fff;
            &:hover {
                background-color: #1b3b86;
                color: #fff;
            }
        }
        .card-right {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
        }
        .features {
            margin-top: 20px;
            h3 {
                font-size: 18px;
                color: #071c4d;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;
            }
            .features-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }
        .gallery {
            .xzoom-container {
                display: block;
                .xzoom {
                    width: 100%;
                    box-shadow: none;
                    margin-bottom: 10px;
                }
                .xactive {
                    border: 4px solid #1a49c1;
                    box-shadow: none;
                }
            }
        }
        .members {
            .members-image {
                width: 40px;
                height: 40px;
            }
        }
        .join-container {
            margin-top: -16px;
        }
        .btn-join-now {
            background-color: #ff9e53;
            color: #fff;
            &:hover {
                background-color: #f8af76;
            }
        }
    }
    
    .section-success {
        height: 90vh;
        h1 {
            font-weight: 600;
            font-size: 26px;
            color: #071c4d;
        }
        p {
            font-weight: 300;
            font-size: 18px;
            color: #b1b1b1;
        }
        .btn-homepage {
            background-color: #071c4d;
            border-radius: 4px;
            color: #fff;
            &:hover {
                background-color: #1a49c1;
                color: #fff;
            }
        }
    }
    
    // LOGIN TEST
    body {
        background: #eee !important;
    }
    
    .wrapper {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    
    .form-signin {
        max-width: 380px;
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        .form-signin-heading,
        .checkbox {
            margin-bottom: 30px;
        }
        .checkbox {
            font-weight: normal;
        }
        .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
        }
        input[type="text"] {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        input[type="password"] {
            margin-bottom: 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }